<div class="row">
  <div class="col-md-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <%= @advertisement.title %>
      </div>
      <table class="table table-striped applications-admin-table">
        <thead>
          <tr>
            <th>Datos del postulante</th>
            <th>Fecha de postulación</th>
            <th>Email de contacto</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% applications = @advertisement.applications %>

          <% if applications.count > 0 %>
            <% @advertisement.applications.each do |application| %>
              <tr class="application-row <%= "not-seen" unless application.seen %>">
                <td>
                  <div class="name"><%= application.name %></div>
                  <div class="studies"><%= "#{application.degree} - #{application.university.name}" %></div>
                </td>
                <td><%= application.created_at.strftime('%d/%m/%Y - %H:%M') %></td>
                <td><%= application.email %></td>
                <td>
                  <a href="<%= application.resume_url %>" target="_blank" class="btn btn-primary btn-sm pull-left download-resume" data-application-id="<%= application.id %>" data-advertisement-id="<%= @advertisement.id %>" data-company-id="<%= @company.id %>" data-token="<%= @token %>" title="Descargar CV">
                    <i class="glyphicon glyphicon-cloud-download"></i> <strong>CV</strong>
                  </a>
                  <a href="#" data-application-id="<%= application.id %>" data-advertisement-id="<%= @advertisement.id %>" data-company-id="<%= @company.id %>" data-token="<%= @token %>" class="btn btn-success btn-sm pull-right mark-as-seen" title="Marcar como leído">
                    <i class="glyphicon glyphicon-eye-open"></i>
                  </a>
                  <a href="#" data-application-id="<%= application.id %>" data-advertisement-id="<%= @advertisement.id %>" data-company-id="<%= @company.id %>" data-token="<%= @token %>" class="btn btn-warning btn-sm pull-right mark-as-not-seen" title="Marcar como no leído">
                    <i class="glyphicon glyphicon-eye-close"></i>
                  </a>
                </td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="6" class="text-center">No se han registrado postulaciones hasta el momento</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>