<div class="row">
  <div class="col-md-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <%= @advertisement.title %>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nombre completo</th>
            <th>Fecha de postulación</th>
            <th>Email</th>
            <th>Universidad</th>
            <th>Carrera</th>
            <th>Curriculum</th>
          </tr>
        </thead>
        <tbody>
          <% @advertisement.applications.each do |application| %>
            <tr>
              <td><%= application.name %></td>
              <td><%= application.created_at.strftime('%d/%m/%Y - %H:%M') %></td>
              <td><%= application.email %></td>
              <td><%= application.university.name %></td>
              <td><%= application.degree %></td>
              <td><%= link_to "Descargar", application.resume_url, class: 'btn btn-info btn-xs' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>