<%= form_for(@user, :url => registration_path(@user), :html => { :method => :put }) do |f| %>
  <div class="form-group <%= !@user.errors[:current_password].empty? ? 'has-error' : '' %>">
    <%= f.label :current_password, 'Contraseña actual', class: 'control-label' %>
    <%= f.password_field :current_password, class: 'form-control' %>
    <% unless @user.errors[:current_password].empty? %>
      <div class="help-block text-right"><%= @user.errors[:current_password].first %></div>
    <% end %>
  </div>
  <div class="form-group <%= !@user.errors[:password].empty? ? 'has-error' : '' %>">
    <%= f.label :password, 'Nueva contraseña', class: 'control-label' %>
    <%= f.password_field :password, class: 'form-control' %>
    <% unless @user.errors[:password].empty? %>
      <div class="help-block text-right"><%= @user.errors[:password].first %></div>
    <% end %>
  </div>
  <div class="form-group <%= !@user.errors[:password_confirmation].empty? ? 'has-error' : '' %>">
    <%= f.label :password_confirmation, 'Confirmación nueva contraseña', class: 'control-label' %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
    <% unless @user.errors[:password_confirmation].empty? %>
      <div class="help-block text-right"><%= @user.errors[:password_confirmation].first %></div>
    <% end %>
  </div>
  <div>
    <%= f.submit 'Guardar contraseña', class: 'btn-pink pull-right' %>
  </div>
<% end %>
