<%= content_for :top_body do %>
  <div class="container">
    <div class="col-md-3"></div>
    <div class="col-md-6 auth-form">
      <h2>
        <span class="glyphicon glyphicon-user"></span>
        Registración
      </h2>
      <p>Estás a un paso de encontrar tu trabajo ideal!</p>

      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :role => "form") do |f| %>

        <div class="form-group <%= !resource.errors[:fullname].empty? ? 'has-error' : '' %>">
          <%= f.label :fullname, "Nombre completo", autofocus: true, class: 'control-label' %>
          <%= f.text_field :fullname, :autofocus => true, class: 'form-control' %>
          <% unless resource.errors[:fullname].empty? %>
            <div class="help-block text-right"><%= resource.errors[:fullname].first %></div>
          <% end %>
        </div>

        <div class="form-group <%= !resource.errors[:email].empty? ? 'has-error' : '' %>">
          <%= f.label :email, "Email", class: 'control-label' %>
          <%= f.email_field :email, class: 'form-control' %>
          <% unless resource.errors[:email].empty? %>
            <div class="help-block text-right"><%= resource.errors[:email].first %></div>
          <% end %>
        </div>

        <div class="form-group <%= !resource.errors[:password].empty? ? 'has-error' : '' %>">
          <%= f.label :password, "Contraseña", class: 'control-label' %>
          <%= f.password_field :password, class: 'form-control' %>
          <% unless resource.errors[:password].empty? %>
            <div class="help-block text-right"><%= resource.errors[:password].first %></div>
          <% end %>
        </div>

        <div class="form-group <%= !resource.errors[:password_confirmation].empty? ? 'has-error' : '' %>">
          <%= f.label :password_confirmation, "Verificar contraseña", class: 'control-label' %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
          <% unless resource.errors[:password_confirmation].empty? %>
            <div class="help-block text-right"><%= resource.errors[:password_confirmation].first %></div>
          <% end %>
        </div>

        <div class="auth-btns">
          <div class="pull-right"><%= f.submit "Crear cuenta!", class: 'btn-pink', 
            onClick: "ga('send', 'event', 'Auth', 'SignUp');" %></div>
          <div class="clearfix"></div>
        </div>

        <div class="text-right" style="padding-top:15px;">
          <%= link_to "Yo sos usuario? Inicia sesión", new_user_session_path %>
        </div>

      <% end %>
    </div>
  </div>
<% end %>
