<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :university_id %><br />
  <%= f.select :university_id, options_for_select(University.all.collect {|u| [u.name, u.id]}), include_blank: true %></div>

  <div><%= f.label :degree_id %><br />
  <%= f.select :degree_id, options_for_select(Degree.all.collect {|d| [d.name, d.id]}), include_blank: true %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
