<div class="applyBox">

  <div class="profile-ready" ng-show="user && !advertisement.has_applied && user.readyForApplication">
    <span class="message">Ya estas listo para postularte!</span>
    <div class="profile-info">
      <div class="buala-profile-title">#TuPerfilBualá</div>
      <ul>
        <li>
          <strong>Nombre completo</strong> {{ user.fullname }}
        </li>
        <li>
          <strong>Universidad</strong> {{ user.university.name }}
        </li>
        <li>
          <strong>Carrera</strong> {{ user.degree }}
        </li>
        <li>
          <strong>Curriculum Vitae</strong>
          <a ng-href="{{ user.resume.url }}">
            <i class="icon-paperclip"></i>
            {{user.resume.filename}}
          </a>
        </li>
      </ul>
    </div>
    <div class="actions">
      <div ng-show="applyError" class="text-danger error-message">
        <strong>Ocurrió un error!</strong>
        Intentalo nuevamente.
      </div>
      <button class="btn-pink btn-loader" ng-class="{'loading': applying}" ng-click="apply()">
        <%= fa_icon :refresh %>
        ¡Postularme!
      </button>
    </div>
  </div>
  
  <div class="profile-not-ready" ng-show="user && !advertisement.has_applied && !user.readyForApplication">
    <span class="message">Hey, tu perfil no está listo para que te postules!</span>
    <div class="text-center btn-container">
      <a ng-href="/users/me?pu={{currentLocation | escape }}" class="btn-pink">
        <%= fa_icon :user %> Completar mi perfil
      </a>
    </div>
    <span class="clarification">
      Para poder iniciar la postulación, necesitamos que tu perfil esté completo, así
      podemos mostrarle esta información a la empresa.  
    </span>
  </div>
  
  <div class="user-not-logged-in" ng-hide="user">
    <span class="message">Hey, no sos usuario todavía?</span>
    <div class="text-center btn-container">
      <%= link_to new_user_registration_path, class: 'btn-pink' do %>
        <%= fa_icon :user %> Registrarme
      <% end %>
    </div>
    <span class="clarification">
      Ya sos usuario? Entonces <%= link_to "Inicia sesión", new_user_session_path %>. <br />
    </span>
  </div>
  
  <div class="after-application" ng-show="user && advertisement.has_applied">
    <span class="message">Muchas gracias por postularte!</span>
    <div class="text-center btn-container">
      <%= link_to root_path, class: 'btn-pink' do %>
        Seguir mirando otros puestos!
      <% end %>
    </div>
  </div>
</div>
