<div class="applyBox">
  <div ng-show="user && user.readyForApplication">
    <h3>
      <%= fa_icon :user %>
      Tu perfil
    </h3>
    <p class="clarification">Los siguientes datos serán utilizados durante la postulación:</p>
    <div class="profile-wrapper">
      <ul class="userProfile pull-left">
        <li><span>Nombre completo: </span> {{user.fullname}}</li>
        <li><span>Universidad:</span> {{user.university.name}}</li>
        <li><span>Carrera:</span> {{user.degree}}</li>
        <li>
          <span>Curriculum:</span> 
          <i class="icon-paperclip"></i>
          {{user.resume.filename}}
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="actions">
      <button class="btn-pink" ng-hide="editing">¡Postularme!</button>
      <button class="btn btn-danger" ng-show="editing" ng-click="cancelEdition()">Cancelar</button>
      <button class="btn-pink" ng-show="editing">Guardar cambios</button>
    </div>
  </div>
  <div class="profile-not-ready" ng-show="user && !user.readyForApplication">
    <span class="message">Hey, tu perfil no está listo para que te postules!</span>
    <div class="text-center btn-container">
      <%= link_to me_users_path, class: 'btn-pink' do %>
        <%= fa_icon :user %> Completar mi perfil
      <% end %>
    </div>
    <span class="clarification">
      Para poder iniciar la postulación, necesitamos que tu perfil esté completo, así
      podemos mostrarle esta información a la empresa.  
    </span>
  </div>
  <div class="user-not-logged-in" ng-hide="user">
    <span class="message">Hey, no sos usuario todavía?</span>
    <div class="text-center btn-container">
      <%= link_to new_user_registration_path, class: 'btn-pink' do %>
        <%= fa_icon :user %> Registrarme
      <% end %>
    </div>
    <span class="clarification">
      Ya sos usuario? Entonces <%= link_to "Inicia sesión", new_user_session_path %>. <br />
    </span>
  </div>
</div>
