<%= content_for :top_body do %>
  <div class="container">
    <div class="col-md-3"></div>
    <div class="col-md-6 auth-form">
      <h2>
        <%= fa_icon :refresh %>
        Restablecer contraseña
      </h2>
      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
        
        <%= f.hidden_field :reset_password_token %>

        <div class="form-group <%= !resource.errors[:password].empty? ? 'has-error' : '' %>">
          <%= f.label :password, "Nueva contraseña", class: 'control-label' %>
          <%= f.password_field :password, :autofocus => true, class: 'form-control' %>
          <% unless resource.errors[:password].empty? %>
            <div class="help-block text-right"><%= resource.errors[:password].first %></div>
          <% end %>
        </div>

        <div class="form-group <%= !resource.errors[:password_confirmation].empty? ? 'has-error' : '' %>">
          <%= f.label :password_confirmation, "Verificar nueva contraseña", class: 'control-label' %>
          <%= f.password_field :password_confirmation , class: 'form-control' %>
          <% unless resource.errors[:email].empty? %>
            <div class="help-block text-right"><%= resource.errors[:password_confirmation].first %></div>
          <% end %>
        </div>

        <div class="auth-btns">
          <div class="pull-right"><%= f.submit "Change my password", class: 'btn-pink' %></div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
