<div class="details pie">
	<div class="details_left fltleft">
		<a href="#"><img src="/img/map.png" alt=""> </a> <span><%= @advertisement.company.name %>
		</span> <small class="pie"><a href="#"><img src="/img/logo.png" alt="">
		</a> </small>
	</div>

	<div class="details_right fltleft">
		<h3>
			<%= @advertisement.title %>
		</h3>
		<p>
			<%= truncate @advertisement.description, length: 500 %>
		</p>
		<div class="details_nav fltleft">
			<ul>
				<li>
					<a href="#">
						<img src="/img/nav_icon1.jpg" alt=""> 
						<span><%= @advertisement.advertisement_type.name %></span>
					</a>
				</li>
				<li><a href="#"><img src="/img/nav_icon2.jpg" alt=""> <span><%= @advertisement.company.company_type.name %></span>
				</a></li>
				<li>
					<a href="#">
						<img src="/img/nav_icon3.jpg" alt=""> 
						<span>
							Starting date!
						</span>
					</a>
				</li>
				<li class="li1"><a href="#"><img src="img/nav_icon4.jpg" alt=""> <span>Ong</span>
				</a></li>
				<li><a href="#"><img src="/img/nav_icon5.jpg" alt=""> <span>Remunerada</span>
				</a></li>
				<li><a href="#"><img src="/img/nav_icon6.jpg" alt=""> <span>5 días</span>
				</a></li>
				<li><a href="#"><img src="/img/nav_icon7.jpg" alt=""> <span>2 vacantes</span> </a></li>
			</ul>
		</div>
		<%= link_to "Más Detalles", (advertisement_path @advertisement), class: 'more pie fltright' %>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>