<div class="advertisement-box">
  <div class="row">
    <div class="col-md-2 col-lg-2 col-sm-2 hidden-xs company-logo">
      <%= cl_image_tag(advertisement.company.company_logo, :width => 150, :height => 150, :crop => :lpad) %>
    </div>
    <div class="col-md-10 col-lg-10 col-sm-10 col-xs-12">
      <h1><%= link_to advertisement.title, advertisement_path(advertisement) %></h1>
      <h2><%= advertisement.company.name %></h2>
      <p>
        <%= advertisement.short_description %>
      </p>
    </div>
  </div>
  <div class="row bottom-row">
    <div class="pull-left location hidden-xs hidden-sm">
      <%= fa_icon 'map-marker' %> <%= advertisement.company.location %>
    </div>
    <%= link_to advertisement_path(advertisement), class: 'btn-orange pull-right' do %>
      <%= fa_icon 'expand-alt' %> Más detalles
    <% end %>
  </div>
</div>
