<div class="bnrtop">
  <% unless advertisement.company.company_logo.blank? %>
  	<%= image_tag advertisement.company.company_logo_url, alt: advertisement.company.name %>
  <% end %>
  <h1><%= advertisement.title %> <strong>en <a href="<%= advertisement.company.website %>" target="_blank"><%= advertisement.company.name %></a></strong></h1>
  <% unless is_application %>
  <%= link_to "¡Postularme!", (apply_advertisement_path advertisement), {class: 'success header-apply'}%>
  <% end %>
</div>
