<ul>
	<li>
		<a href="#">
			<img src="/img/nav_icon1.jpg" alt=""> 
			<span><%= advertisement.advertisement_type.name %></span>
		</a>
	</li>
	<% if advertisement.company.company_type.name != 'Empresa' %>
	<li>
		<a href="#"><img src="/img/nav_icon4.jpg" alt=""> 
			<span><%= advertisement.company.company_type.name %></span>
		</a>
	</li>
	<% end %>
	<li>
		<a href="#">
			<img src="/img/nav_icon3.jpg" alt=""> 
			<span>
				<% if advertisement.start_date && Date.today + 1.months < advertisement.start_date %>
					<%= (l advertisement.start_date, format: '%B, %Y').humanize %>
				<% else %>
					Inmediata
				<% end %>
			</span>
		</a>
	</li>
	<li class="li1"><a href="#"><img src="/img/nav_icon2.jpg" alt=""> <span>Ong</span>
	</a></li>
	<% if advertisement.is_paid %>
		<li>
			<a href="#">
				<img src="/img/nav_icon5.jpg" alt=""> 
				<span>Remunerada</span>
			</a>
		</li>
	<% else %>
		<li>
			<a href="#">
				<img src="/img/nav_icon5.jpg" alt=""> 
				<span>No remunerada</span>
			</a>
		</li>
	<% end %>
	<li>
		<a href="#"><img src="/img/nav_icon6.jpg" alt=""> 
			<span><%= advertisement.working_turn.name %></span>
		</a>
	</li>
	<% if advertisement.vacancies %>
	<li>
		<a href="#"><img src="/img/nav_icon7.jpg" alt=""> 
			<span><%= advertisement.vacancies %> vacantes</span> 
		</a>
	</li>
	<% end %>
</ul>