<ul class="badges">

  <li>
    <img src="/images/badges/advertisement-type.png" alt="">
    <strong><%= advertisement.advertisement_type.name %></strong>
  </li>

  <% if advertisement.is_paid %>
  <li>
    <img src="/images/badges/ispaid.png" alt="">
    <strong>Remunerada</strong>
  </li>
  <% else %>
  <li>
    <img src="/images/badges/isnotpaid.png" alt="">
    <strong>No remunerada</strong>
  </li>
  <% end %>

  <li>
    <img src="/images/badge-2.gif" alt="">
    <strong><%= advertisement.company.company_type.name %></strong>
  </li>

  <li>
    <img src="/images/badge-3.gif" alt="">
    <strong>
    <% if advertisement.start_date && Date.today + 1.months < advertisement.start_date %>
      Contratación: <%= (l advertisement.start_date, format: '%B, %Y').humanize %>
    <% else %>
      Contratación Inmediata
    <% end %>
    </strong>
  </li>

  <%
  # <li>
  #   <a href="#">
  #     <span><img src="/images/badge-4.gif" width="14" height="18" alt=""></span>
  #     <strong>Ong</strong>
  #   </a>
  # </li>
  %>

  <li>
    <img src="/images/badge-6.gif" alt="">
    <strong><%= advertisement.working_turn.name %></strong>
  </li>

  <% if advertisement.vacancies > 0 %>
  <li>
    <img src="/images/badge-7.gif" alt="">
    <strong><%= advertisement.vacancies %> vacantes</strong>
  </li>
  <% end %>
      
</ul>