<ul class="badges">
  <li data-toggle="tooltip" data-original-title="<div class='badge-tooltip'><div><strong>Pasantía</strong></div><div><strong>Part-time 4hs</strong></div><div><strong>Part-time 5hs</strong></div><div><strong>Part-time 6hs</strong></div><div><strong>Full Time</strong></div></div>">
    <%= fa_icon 'suitcase' %>
    <div class="badge-description">
      <%= advertisement.advertisement_type.name %>
    </div>
  </li>
  <li data-toggle="tooltip" data-original-title="<div class='badge-tooltip'><div><strong>Remunerada:</strong> con sueldo</div><div><strong>No remunerada:</strong> sin sueldo</div></div>">
    <%= fa_icon 'money' %>
    <div class="badge-description">
      <%= "Remunerada" if advertisement.is_paid %>
      <%= "No remunerada" unless advertisement.is_paid %>
    </div>
  </li>
  <li data-toggle="tooltip" data-original-title="<div class='badge-tooltip'><div><strong>Empresa:</strong> +100 empleados</div><div><strong>Startup:</strong> 0-100 empleados</div><div><strong>ONG:</strong> sin fines de lucro</div></div>">
    <%= fa_icon 'building' %>
    <div class="badge-description">
      <%= advertisement.company.company_type.name %>
    </div>
  </li>
  <li>
    <%= fa_icon 'calendar' %>
    <div class="badge-description">
      <% if advertisement.start_date && Date.today + 1.months < advertisement.start_date %>
        Contratación: <%= (l advertisement.start_date, format: '%B, %Y').humanize %>
      <% else %>
        Contratación Inmediata
      <% end %>
    </div>
  </li>
  <li>
    <%= fa_icon 'time' %>
    <div class="badge-description">
      <%= advertisement.working_turn.name %>
    </div>
  </li>
  <li>
    <%= fa_icon 'group' %>
    <div class="badge-description">
      <%= advertisement.vacancies %> vacantes
    </div>
  </li>
</ul>
<div class="clearfix"></div>