<ul class="badges">
  <li class="active">
    <%= fa_icon 'rocket' %>
    <div class="badge-description">
      <%= advertisement.advertisement_type.name %>
    </div>
  </li>
  <li class="<%= "active" if @advertisement.is_paid %>">
    <%= fa_icon 'money' %>
    <div class="badge-description">
      <%= "Remunerada" if advertisement.is_paid %>
      <%= "No remunerada" unless advertisement.is_paid %>
    </div>
  </li>
  <li class="active">
    <%= fa_icon 'building' %>
    <div class="badge-description">
      <%= advertisement.company.company_type.name %>
    </div>
  </li>
  <li class="active">
    <%= fa_icon 'calendar' %>
    <div class="badge-description">
      <% if advertisement.start_date && Date.today + 1.months < advertisement.start_date %>
        Contratación: <%= (l advertisement.start_date, format: '%B, %Y').humanize %>
      <% else %>
        Contratación Inmediata
      <% end %>
    </div>
  </li>
  <li class="active">
    <%= fa_icon 'time' %>
    <div class="badge-description">
      <%= advertisement.working_turn.name %>
    </div>
  </li>
  <li class="active">
    <%= fa_icon 'group' %>
    <div class="badge-description">
      <%= advertisement.vacancies %> vacantes
    </div>
  </li>
</ul>
<div class="clearfix"></div>