<div class="banner">
  <%= render partial: 'advertisements/advertisement_header', locals: { advertisement: @advertisement, is_application: false } %>
  <div class="map">
    <%= gmaps({
      "map_options" => {"auto_zoom" => false, "zoom" => 15 },
      "markers" => {"data" => @json }
    }) %>
  </div>
</div>

<div class="contentblock">
  <div class="columnleft flt_Lt">
    <strong class="categories">
      Categorías: 
      <a href="#" class="link1 link2"><%= @advertisement.category_1.name %></a>
      <% if @advertisement.category_2 %>
      <a href="#" class="link1 link2"><%= @advertisement.category_2.name %></a>
      <% end %>
    </strong>
    <span class="mappin"><%= @advertisement.company.location %></span>
    <div class="map">
    <%= gmaps({
      "map_options" => {"auto_zoom" => false, "zoom" => 15 },
      "markers" => {"data" => @json }
    }) %>
  </div>


    <%= render partial: 'advertisements/badges', locals: { advertisement: @advertisement } %>

    <h2>Descripción del puesto</h2>
    <div class="safe-html">
      <p><%= @advertisement.description.html_safe %></p>
    </div>
    <% unless @advertisement.requirements.blank? %>
    <h2>Requisitos</h2>
    <div class="safe-html">
      <p><%= @advertisement.requirements.html_safe %></p>
    </div>
    <% end %>

    <%= link_to "¡Postularme!", (apply_advertisement_path @advertisement), {class: 'success bottom-apply'} %>
  </div>
  
  <div class="columnright flt_Rt">
    <h2>Otras Ofertas</h2>
    <ul>
      <% @advertisement.recommended.each do |recommended| %>
      <li>
        <%= render partial: 'advertisements/recommended', locals: { advertisement: recommended } %>
      </li>
      <% end %>
    </ul>
  </div>

</div>
