<% content_for :top_body do %>
  <div class="map-container">
    <%= gmaps({
      "map_options" => {"auto_zoom" => false, "zoom" => 15, raw: "{scrollwheel: false}" },
      "markers" => {"data" => @json }
    }) %>
  </div>
  
  <div class="advertisement-header-wrapper">
    <div class="container">
      <div class="row advertisement-header">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 centered">
          <%= image_tag @advertisement.company.company_logo.url , alt: @advertisement.company.name, class: "pull-left hidden-xs hidden-sm" %>
          <div class="pull-left advertisement-title">
            <h1><%= @advertisement.title %></h1>
            <h2>en <%= link_to @advertisement.company.name, @advertisement.company.website %></h2>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>

<div class="advertisement-detail-wrapper">
  <div class="container">
    <div id="advertisement-detail">
      <div class="row">
        <div class="advertisement-info">
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            
            <!-- BADGES -->
            <%= render partial: 'advertisements/badges', locals: { advertisement: @advertisement } %>
            <div class="location">
              <%= fa_icon 'map-marker' %> <%= @advertisement.company.location %>
            </div>

              <!-- ADVERTISEMENT DESCRIPTION -->
            <div class="advertisement-description-wrapper">
              <div class="advertisement-description">
                <div>
                  <h2 class="pull-left">Descripción del puesto</h2>
                  <div class="categories pull-right">
                    <span class="label label-info"><%= @advertisement.category_1.name %></span>
                    <% if @advertisement.category_2 %>
                      <span class="label label-info"><%= @advertisement.category_2.name %></span>
                    <% end %>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="safe-html">
                  <p><%= @advertisement.description.html_safe %></p>
                </div>

                <% unless @advertisement.requirements.blank? %>
                  <h2>Requisitos</h2>
                  <div class="safe-html">
                    <%= @advertisement.requirements.html_safe %>
                  </div>
                <% end %>
              </div>

              <button class="btn-orange btn-apply-bottom col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <%= fa_icon :bell %>
                ¡Postularme!
              </button>
            </div>

          </div>
          
          <div class="col-lg-4 col-md-4 hidden-sm hidden-xs right-column">
            <h2>Oportunidades similares</h2>
            <% @advertisement.recommended.each do |recommended| %>
              <div class="row recommended" onclick="location.href='<%= advertisement_path(recommended)%>';">
                <div class="col-lg-4 col-md-4">
                  <%= cl_image_tag(recommended.company.company_logo, width: 100, height: 50, crop: :lpad) %>
                </div>
                <div class="col-lg-8 col-md-8">
                  <h1><%= recommended.title %></h1>
                  <h2>en <%= recommended.company.name %></h2>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
