<div class="banner">
  <div class="bnrtop">
    <% unless @advertisement.company.company_logo.blank? %>
    <img src="<%= @advertisement.company.company_logo_url %>" />
    <% end %>
    <h1><%= @advertisement.title %> <strong>en <a href="<%= @advertisement.company.website %>" target="_blank"><%= @advertisement.company.name %></a></strong></h1>
    <%= link_to "¡Postularme!", (apply_advertisement_path @advertisement), {class: 'toapply'}%>
  </div>
  <div class="map">
    <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= @advertisement.company.location %>&zoom=15&size=700x230&sensor=true&markers=<%= @advertisement.company.location %>" width="943" height="300" alt="">
  </div>
</div>

<div class="contentblock">
  <div class="columnleft flt_Lt">
    <strong class="categories">
      Categorías: 
      <a href="#" class="link1 link2"><%= @advertisement.category_1.name %></a>
      <% if @advertisement.category_2 %>
      <a href="#" class="link1 link2"><%= @advertisement.category_2.name %></a>
      <% end %>
    </strong>
    <span class="mappin"><%= @advertisement.company.location %></span>
    <%
    # <span class="date">Finaliza en 6 días</span>
    %>

    <%= render partial: 'advertisements/badges', locals: { advertisement: @advertisement } %>

    <h2>Descripción del puesto</h2>
    <p><%= @advertisement.description %></p>

    <% unless @advertisement.requirements.blank? %>
    <h2>Requisitos</h2>
    <p><%= @advertisement.requirements %></p>
    <% end %>

    <%= link_to "¡Postularme!", (apply_advertisement_path @advertisement), {class: 'toapply toapply2'} %>
  </div>
  
  <div class="columnright flt_Rt">
    <h2>Otras Ofertas</h2>
    <ul>
      <% @advertisement.recommended.each do |recommended| %>
      <li>
        <%= render partial: 'advertisements/recommended', locals: { advertisement: recommended } %>
      </li>
      <% end %>
    </ul>
  </div>

</div>
