<%= render partial:'advertisements/advertisement_header', locals: {advertisement: @advertisement, is_application: false} %>

<div class="row">
  <div class="col-lg-12 col-md-12 map-container">
    <%= gmaps({
      "map_options" => {"auto_zoom" => false, "zoom" => 15 },
      "markers" => {"data" => @json }
    }) %>
  </div>
</div>

<div class="row">
  <div class="advertisement-info">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
      
      <h2>Categorías</h2>
      <div class="categories">
        <span class="label label-info"><%= @advertisement.category_1.name %></span>
        <% if @advertisement.category_2 %>
          <span class="label label-info"><%= @advertisement.category_2.name %></span>
        <% end %>
      </div>
      
      <!-- BADGES -->
      <%= render partial: 'advertisements/badges', locals: { advertisement: @advertisement } %>

      <!-- ADVERTISEMENT DESCRIPTION -->
      <h2>Descripción del puesto</h2>
      <div class="safe-html">
        <p><%= @advertisement.description.html_safe %></p>
      </div>

      <% unless @advertisement.requirements.blank? %>
        <h2>Requisitos</h2>
        <div class="safe-html">
          <%= @advertisement.requirements.html_safe %>
        </div>
      <% end %>

      <%= link_to "¡Postularme!", (apply_advertisement_path @advertisement), {class: 'btn btn-primary btn-buala btn-lg col-md-12 col-lg-12 col-sm-12 col-xs-12 btn-apply-bottom'} %>
    
    </div>
    <div class="col-lg-4 col-md-4 hidden-sm hidden-xs">
      PROP
    </div>
  </div>
</div>
