<%= content_for :top_body do %>
  <div class="container banner-business" ng-controller="BusinessController">
    <h1>¡Empezá hoy a contratar estudiantes!</h1>
    <div class="row">
      <div class="col-md-6" id="contact-form">
          <form class="form col-md-8 col-md-offset-2" novalidate role="form"  name="contactForm" ng-submit="send()">
          <h3>¿Te interesa publicar con nosotros? Dejanos tus datos</h3>
          <div ng-hide="contactSent">
            <div class="form-group" ng-class="{'has-error': contactForm.name.$dirty && contactForm.name.$invalid}">
              <label class="control-label">Tu Nombre</label>
              <input type="text" class="form-control" ng-model="contact.name" name="name" required>
              <span class="help-block" ng-show="contactForm.name.$dirty && contactForm.name.$invalid">Este es un campo requerido</span>      
            </div>
            <div class="form-group">
              <label class="control-label">Empresa</label>
              <input type="text" class="form-control" ng-model="contact.company" name="company">        
            </div>
            <div class="form-group" ng-class="{'has-error': contactForm.email.$dirty && contactForm.email.$invalid}">
              <label class="control-label">Email</label>
              <input type="email" class="form-control" ng-model="contact.email" name="email" required> 
              <span class="help-block" ng-show="contactForm.email.$dirty && contactForm.email.$invalid">Email inválido</span>        
            </div>
            <button type="submit" class="btn-pink pull-right">Enviar!</button>
          </div>
          <div ng-show="contactSent" class="text-center">
            Gracias por tu interés! Nos contactaremos a la brevedad.
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <div class="text-center banner-dashboard"><%= image_tag 'banner-dashboard.png'%></div>
        <div class="mac-container">
          <%= image_tag 'macbook.png' %>
          <%= image_tag 'macbook_ad.png', class: 'screenshot screenshot-1' %>
          <%= image_tag 'macbook_dashboard.png', class: 'screenshot screenshot-2' %>
        </div>
      </div>
    </div>
    
    
  </div>
<% end %>

<div class="clients">
  <div class="container">
    <h1>
      <%= fa_icon :certificate %>
      Empresas que publicaron con nosotros!
    </h1>
    <div class="row text-center">
      <%= image_tag 'ford.png' %>
      <%= image_tag 'visa.png' %>
      <%= image_tag 'epson.png' %>
      <%= image_tag 'quilmes.png' %>
      <%= image_tag 'danone.png' %>
      <%= image_tag 'kimberly.png' %>
      <%= image_tag 'turner.png' %>
      <%= image_tag '3m.png' %>
      <%= image_tag 'despegar.png' %>
      <%= image_tag 'sap.png' %>
      <%= image_tag 'basf.png' %>
      <%= image_tag 'hp.png' %>
      <%= image_tag 'ensena.png' %>
    </div>
    <div class="text-center"><h3>¡Y muchas más!</h3></div>
  </div>
</div>

<div class="green-full-container business">
  <div class="container">
    <h1>
      <%= fa_icon :briefcase %>
      El Servicio
    </h1>
    <ul class="characteristics container">
      <li class="easy-and-simple row">
        <div class="col-md-6">
          <%= image_tag 'ipad.png' %>
        </div>
        <div class="col-md-6">
          <h2>
            <%= fa_icon :cloud %>
            Simple y Fácil
          </h2>
          <p>
            Bualá! es simple, ¿buscás estudiantes o recién graduados? Encontralos en un único lugar. Tenemos un gran alcance en distintas universidades del páis.
          </p>
        </div>
      </li>
      <li class="graduates row">
        <div class="col-md-6">
          <h2>
            <%= fa_icon :group %>
            Universitarios
          </h2>
          <p>
            Bualá! está exactamente donde los estudiantes están. Encontranos en las universidades, en las redes sociales, en eventos y actividades!
          </p>
        </div>
        <div class="col-md-6">
          <%= image_tag 'network.png' %>
        </div>
      </li>
      <li class="docs row">
        <div class="col-md-6">
          <%= image_tag 'docs.png' %>
        </div>
        <div class="col-md-6">
          <h2>
            <%= fa_icon :fire %>
            Justo lo que necesitas!
          </h2>
          <p>
            Es fácil, cargás los datos de tu pasantía, aviso part-time, full-time o tu programa de jóvenes profesionales y nosotros los difundimos. Vos concentrate en las entrevistas.
          </p>
          
        </div>
      </li>
      <li class="docs row">
        
          <div class="col-md-12 text-center">
            <a class="btn-pink btn-clients" href="#contact-form">¡QUIERO PUBLICAR UN AVISO EN BUALÁ!</a>
          </div>
         
      </li>
    </ul>
  </div>
  
</div>