<%= content_for :top_body do %>
  <div class="container banner-business" ng-controller="BusinessController">
    <h1>¡Empezá hoy a contratar estudiantes!</h1>
    <div class="mac-container">
      <%= image_tag 'macbook.png' %>
      <%= image_tag 'macbook_ad.png', class: 'screenshot screenshot-1' %>
      <%= image_tag 'macbook_dashboard.png', class: 'screenshot screenshot-2' %>
    </div>
    <form class="form col-md-8 col-md-offset-2" novalidate role="form" name="contactForm" ng-submit="send()">
      <h2>¿Te interesa? ¡Nos contactamos!</h2>
      <div ng-hide="contactSent">
        <div class="form-group" ng-class="{'has-error': contactForm.name.$dirty && contactForm.name.$invalid}">
          <label class="control-label">Tu Nombre</label>
          <input type="text" class="form-control" ng-model="contact.name" name="name" required>
          <span class="help-block" ng-show="contactForm.name.$dirty && contactForm.name.$invalid">Este es un campo requerido</span>      
        </div>
        <div class="form-group">
          <label class="control-label">Empresa</label>
          <input type="text" class="form-control" ng-model="contact.company" name="company">        
        </div>
        <div class="form-group" ng-class="{'has-error': contactForm.email.$dirty && contactForm.email.$invalid}">
          <label class="control-label">Email</label>
          <input type="email" class="form-control" ng-model="contact.email" name="email" required> 
          <span class="help-block" ng-show="contactForm.email.$dirty && contactForm.email.$invalid">Email inválido</span>        
        </div>
        <button type="submit" class="btn-pink pull-right">Enviar!</button>
      </div>
      <div ng-show="contactSent" class="text-center">
        Gracias por tu interés! Nos contactaremos a la brevedad.
      </div>
    </form>
  </div>
<% end %>

<div class="green-full-container business">
  <div class="container">
    <h1>
      <%= fa_icon :briefcase %>
      El Servicio
    </h1>
    <ul class="characteristics container">
      <li class="easy-and-simple row">
        <div class="col-md-6">
          <%= image_tag 'ipad.png' %>
        </div>
        <div class="col-md-6">
          <h2>
            <%= fa_icon :cloud %>
            Simple y Fácil
          </h2>
          <p>
            Bualá! es simple, ¿buscás estudiantes o recién graduados? Encontralos en un único lugar. Tenemos un gran alcance en distintas universidades del páis.
          </p>
        </div>
      </li>
      <li class="graduates row">
        <div class="col-md-6">
          <h2>
            <%= fa_icon :group %>
            Universitarios
          </h2>
          <p>
            Bualá! está exactamente donde los estudiantes están. Encontranos en las universidades, en las redes sociales, en eventos y actividades!
          </p>
        </div>
        <div class="col-md-6">
          <%= image_tag 'network.png' %>
        </div>
      </li>
      <li class="docs row">
        <div class="col-md-6">
          <%= image_tag 'docs.png' %>
        </div>
        <div class="col-md-6">
          <h2>
            <%= fa_icon :leaf %>
            Bualá HR
          </h2>
          <p>
            Empezá a administrar tus recursos humanos en un solo lugar. Gestioná los aplicantes a los puestos ofrecidos por tu empresa, y agregá inteligencia a tus procesos de selección.
          </p>
          <h3><label class="label label-success label-lg pull-left">Próximamente...</label></h3>
        </div>
      </li>
    </ul>
  </div>
</div>