<div class="row">

  <div class="col-md-6">
    <div class="panel dashboard-widget">
      <h2>Postulaciones totales</h2>
      <div class="result">
        <%= total = @company.total_applications %>
      </div>
      <div>
        <% if total == 1 %>
          Postulación
        <% else %>
          Postulaciones
        <% end %>
      </div>
      <div class="panel panel-info inner-panel">
        <div class="panel-heading">
          Estadísticas
        </div>
        <table class="table table-striped">
          <tbody>
            <% @company.advertisements.each do |advertisement| %>
              <tr>
                <td><%= advertisement.title %></td>
                <% if total.to_f > 0 %>
                  <td><%= number_with_precision((advertisement.applications.count / total.to_f) * 100) %></td>
                <% else %>
                  <td> - </td>
                <% end %>
                <td><%= link_to "Ver aviso", company_ad_path(@company, advertisement, token: @token) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel dashboard-widget">
      <h2>Postulaciones en la última semana</h2>
      <div class="result">
        <%= week_total = @company.last_week_total_applications %>
      </div>
      <div>
        <% if week_total == 1 %>
          Postulación
        <% else %>
          Postulaciones
        <% end %>
      </div>
      <div class="panel panel-info inner-panel">
        <div class="panel-heading">
          Estadísticas
        </div>
        <table class="table table-striped">
          <tbody>
            <% @company.advertisements.each do |advertisement| %>
              <tr>
                <td><%= advertisement.title %></td>
                <% if week_total.to_f > 0 %>
                  <td><%= number_with_precision((advertisement.last_week_applications.count / week_total.to_f) * 100) %> %</td>
                <% else %>
                  <td> - </td>
                <% end %>
                <td><%= link_to "Ver aviso", company_ad_path(@company, advertisement, token: @token) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel dashboard-widget">
      <h2>Universidades</h2>
      <div class="panel panel-info inner-panel">
        <div class="panel-heading">
          Top 5
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Universidad</th>
              <th>#Postulantes</th>
              <th>Porcentaje</th>
            </tr>
          </thead>
          <tbody>
            <% top_universities = @company.top_universities(5) %>
            <% if top_universities.count > 0 %>
              <% @company.top_universities(5).each do |top| %>
                <tr>
                  <td><%= top[0].name %></td>
                  <td><%= top[1] %></td>
                  <td><%= number_with_precision((top[1] / total.to_f) * 100) %> %</td>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <td colspan="3">No se han registrado postulaciones hasta el momento</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- <div class="col-md-6">
    <div class="panel dashboard-widget coming-soon-widget">
      <h2>Cantidad de visitas</h2>
      <div class="result">
        253
      </div>
      <div>Visitas</div>
      <div class="panel panel-info inner-panel">
        <div class="panel-heading">
          Estadísticas
        </div>
        <table class="table table-striped">
          <tbody>
            <% @company.advertisements.each do |advertisement| %>
              <tr>
                <td><%= advertisement.title %></td>
                <td><%= number_with_precision((advertisement.applications.count / total.to_f) * 100) %> %</td>
                <td><%= link_to "Ver aviso", company_ad_path(@company, advertisement, token: @token) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div> -->
</div>
