<%= content_for :top_body do %>
  <div class="container">
    <div class="col-md-3"></div>
    <div class="col-md-6 auth-form">
      <h2>
        <span class="glyphicon glyphicon-user"></span>
        Iniciar sesión
      </h2>

      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

        <div class="text-center error"><%= flash[:alert] %></div>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
        <% end -%>

        <div>
          <div class="pull-left" style="line-height: 60px;">
            <%= link_to "Olvidaste tu contraseña?", new_user_password_path %>
          </div>
          <div class="pull-right">
            <%= f.submit "Iniciar sesión", class: 'btn-pink' %>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="text-right" style="padding-top: 20px;">
          <%= link_to "No sos usuario todavía? Crea tu cuenta", new_user_registration_path %>
        </div>

      <% end %>

    </div>
  </div>
<% end %>
