<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "admin", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "admin", "data-turbolinks-track" => true %>
  <script>
    window.company_id = <%= @company.id %>;
  </script>
  <title>Bualá - Admin Panel</title>
</head>
<body ng-app="BualaAdmin">

  <!-- NAVBAR -->
  <div class="navbar navbar-default navbar-buala" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <%= link_to root_path do %>
          <img src="/images/logo.png" alt="Bualá! Jobs" class="logo" />
          <span class="admin-subscript">Admin Panel</span>
        <% end %>
      </div>
      <div class="navbar navbar-left navbar-company-logo">
        <span class="plus-icon"><%= fa_icon :plus %></span>
        <%= image_tag @company.company_logo.url , alt: @company.name, class: 'company-logo' %>
      </div>
      <div class="navbar navbar-right flash-messages">
        <% if flash[:notice] %>
          <span class="label label-success"><%= flash[:notice] %></span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container admin-panel">
      <%= yield %>
  </div>

</body>
</html>