<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "application", rel: 'favicon', type: 'image/ico', href: '/favicon.ico' %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta property="og:site_name" content="Bualá! Jobs" />
  <meta property="og:type" content="website" />
  <%= display_meta_tags %>
</head>
<body ng-app="Buala">
  <% if Rails.env.production? %>
    <!-- Google Analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '<%= Buala::Application.config.buala.ga_tracking_id %>');
    ga('send', 'pageview');

    </script>
    <!-- End Google Analytics -->
  <% end %>
  
  <!-- NAVBAR -->
  <div class="navbar navbar-default navbar-buala" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <%= link_to root_path do %>
          <img src="/images/logo.png" alt="Bualá! Jobs" class="logo" />
        <% end %>
      </div>
      <ul class="nav navbar-nav navbar-left auth-btns">
        <li>
          <a href="http://blog.bualajobs.com" target="_blank">
            <%= fa_icon :comments %>
            Blog
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right auth-btns">
        <% if user_signed_in? %>
          <li>
            <p class="navbar-text">Hola, <%= current_user.fullname %>!</p>
          </li>
          <li class="dropdown">
            <%= link_to '#', class: 'dropdown-toggle', :'data-toggle' => 'dropdown' do %>
              <%= fa_icon :cog %>
            <% end %>
            <ul class="dropdown-menu" role="menu">
              <li>
                <%= link_to me_users_path do %>
                  <%= fa_icon :user %>
                  Mi perfil
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <%= fa_icon :signout %>
                  Cerrar sesión
                <% end %> 
              </li>
            </ul>
          </li>
        <% else %>
          <li class="auth-link-wrapper">
            <%= link_to new_user_registration_path do %>
              <%= fa_icon :user %>
              Registrate
            <% end %>
          </li>
          <li class="auth-link-wrapper">
            <%= link_to new_user_session_path do %>
              <%= fa_icon :signin %>
              Iniciar Sesión
            <% end %>
          </li>
        <% end %>
      </ul>
      <div class="navbar navbar-right flash-messages">
        <% if flash[:notice] %>
          <span class="label label-success"><%= flash[:notice] %></span>
        <% end %>
      </div>
    </div>
  </div>

  <!-- CONTENT -->
  <div class="adjustable">
      <div class="top-body">
        <%= yield(:top_body) %>
      </div>
      <%= content_for?(:content) ? yield(:content) : yield %>

    <!-- FOOTER -->
    <% unless user_signed_in? %>
      <div class="full-container footer-container">
        <div class="container">
          <%= yield(:pre_footer) %>
          <div class="social">
            <a href="http://facebook.com/bualajobs" target="_blank"><%= fa_icon 'facebook-sign' %></a>
            <a href="https://twitter.com/bualajobs" target="_blank"><%= fa_icon 'twitter-sign' %></a>
            <a href="http://www.linkedin.com/company/bual-jobs" target="_blank"><%= fa_icon 'linkedin-sign' %></a>
          </div>
        </div>
        <div class="copyright-container">
          Bualá! Jobs Copyright &copy; 2013
        </div>
      </div>
    <% end %>
  </div>
  <%= yield :scripts %>
</body>
</html>
