<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "application", rel: 'favicon', type: 'image/ico', href: '/favicon.ico' %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta property="og:site_name" content="Bualá! Jobs" />
  <meta property="og:type" content="website" />
  <%= display_meta_tags %>
</head>
<body ng-app="Buala">
  <%= analytics_init if Rails.env.production? %>
  
  <!-- NAVBAR -->
  <div class="navbar navbar-default navbar-buala" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <%= link_to root_path do %>
          <img src="/images/logo.jpg" width="133" height="53" alt="Bualá! Jobs" />
        <% end %>
      </div>
    </div>
  </div>

  <!-- CONTENT -->
  <div class="full-container body-container">
    <div class="container">
      <%= yield %>
    </div>
  </div>

  <!-- FOOTER -->
  <div class="full-container footer-saw">
  </div>
  <div class="full-container footer-container">
    <div class="container">
      <%= yield(:pre_footer) %>
      <div class="social">
        <a href="http://facebook.com/bualajobs" target="_blank"><%= fa_icon 'facebook-sign' %></a>
        <a href="https://twitter.com/bualajobs" target="_blank"><%= fa_icon 'twitter-sign' %></a>
        <a href="http://www.linkedin.com/company/bual-jobs" target="_blank"><%= fa_icon 'linkedin-sign' %></a>
      </div>
    </div>
    <div class="copyright-container">
      Bualá! Jobs Copyright &copy; 2013
    </div>
  </div>
  <%= yield :scripts %>
</body>
</html>
